<div class="mini-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <figure class="snip1426">
                    <img src="../../assets/mini-banner/mini_banner1.png" alt="sample70" />
                    <figcaption>
                      <div>
                        <h2>Exclusive</h2>
                        <h4>Offer</h4>
                      </div>
                    </figcaption>
                    <a href="#"></a>
                  </figure>
            </div>
            <div class="col-md-4">
                <figure class="snip1426">
                    <img src="../../assets/mini-banner/mini_banner2.png" alt="sample70" />
                    <figcaption>
                      <div>
                        <h2>Amazing</h2>
                        <h4>Collection</h4>
                      </div>
                    </figcaption>
                    <a href="#"></a>
                  </figure>
            </div>
            <div class="col-md-4">
                <figure class="snip1426">
                    <img src="../../assets/mini-banner/mini_banner3.png" alt="sample70" />
                    <figcaption>
                      <div>
                        <h2>ELECTRONIC</h2>
                        <h4>DEALS</h4>
                      </div>
                    </figcaption>
                    <a href="#"></a>
                  </figure>
            </div>
        </div>
    </div>
</div>