<!-- footer -->
<footer class="foot_sec">
    <div class="foot_top">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="foot_left">
              <img src="https://i.ibb.co/1GTcwmk/logo.png" alt="">
              <p>{{title | uppercase}}, PROFESSIONAL WINDOW CLEANING, <br>
                IS A LOCAL FAMILY RUN WINDOW CLEANING SERVICE <br>
                THAT BEEN IN BUSINESS SINCE 1998.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="foot_rt">
              <h3>CONTACTS</h3>
              <p>
                <span>Address: </span>
                 West Littleton Boulevard Littleton, Colorado 80187
              </p>
              <p>
                <span>Phone: </span>
                <a href="tel:#">(123) 731-4000</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="foot_btm">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>{{title}} © {{getYear()}}. Allright Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>