
.checkout label {
    font-weight: 600;
    margin: 0 0 8px
}

.checkout .form-group input {
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    color: #999
}

.checkout .form-group textarea {
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    color: #999;
    height: 120px
}

.checkout-promobox {
    background: #f9f9f9;
    padding: 15px;
    margin: 0 0 25px
}

.checkout-promobox i {
    color: #cd9453;
    position: relative;
    top: 4px;
    font-size: 20px;
    margin-right: 5px
}

.checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer
}

.checkbox label {
    position: relative;
    cursor: pointer;
    padding-left: 24px
}

.checkbox label::before {
    content: "";
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid #cd9453;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 0;
    width: 16px;
    height: 16px
}

.checkbox label a {
    color: #cd9453
}

.checkbox label.style2 label:before {
    border-radius: 50%;
    border-color: #888
}

.checkbox input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.8px;
    left: 8px;
    width: 6px;
    height: 6px;
    background: #cd9453;
    border-radius: 50%;
    transform: translate(-50%,-50%)
}

.checkout-box-subtitle {
    font-weight: 500;
    margin-bottom: 18px
}

.checkout-form {
    margin: 0 0 25px;
    background-color: #fbfbfb;
    padding: 25px
}

.checkout-form .checkout-box-title {
    font-weight: 700;
    margin-bottom: 25px
}

.checkout-form .form-group {
    margin: 0 0 15px
}

.checkout-form .form-group label {
    margin-bottom: 10px;
    display: block
}

.checkout-form .form-group input,.checkout-form .form-group textarea {
    border: none;
    border-radius: 0;
    background: #fff;
    color: #000;
    width: 100%;
    padding: 13px 15px 13px 20px;
    border-left: 1px solid red;
}

.checkout-form .form-group input::-moz-placeholder,.checkout-form .form-group textarea::-moz-placeholder {
    opacity: .9
}

.checkout-form .form-group input::placeholder,.checkout-form .form-group textarea::placeholder {
    opacity: .9
}

.checkout-form .form-group input {
    height: 60px
}

.checkout-form .form-group textarea {
    height: 212px;
    resize: none
}

.checkout-details {
    background: #f9f9f9;
    padding: 20px 30px 30px;
    margin: 0 0 25px
}

.checkout-details .checkout-box-title {
    font-size: 24px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cd9453;
    font-weight: bold;
}

.checkout-details .bill-item {
    margin-bottom: 15px;
    padding: 5px 0 8px;
    border-bottom: 1px solid rgba(0,0,0,.08)
}

.checkout-details .bill-item:last-child {
    margin-bottom: 0;
    border-bottom: none
}

.checkout-details .bill-item .bill-item-name {
    width: 65%;
    margin: 0;
    color: #666
}

.checkout-details .bill-item .bill-item-price {
    width: 32%;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    text-align: right
}

.checkout-details .coupon-item {
    margin: 15px 0
}

.checkout-details .coupon-item h4 {
    margin-bottom: 15px
}

.checkout-details .coupon-item .form-group {
    position: relative
}

.checkout-details .coupon-item .form-group input {
    width: 100%;
    height: 60px;
    background: #fff;
    padding: 10px 50px 10px 20px;
    border: none;
    border-radius: 5px
}

.checkout-details .coupon-item .form-group button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    padding: 0 20px;
    border-radius: 0 5px 5px 0;
    background-color: #cd9453;
    text-align: center;
    color: #fff;
    font-weight: 500
}

.checkout-details .form-group input {
    height: 52px;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 40px 10px 15px;
    border: 1px solid #f3f4f6
}

.checkout-details .form-group button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    height: 100%;
    color: #fff;
    font-size: 16px;
    padding: 0 25px
}

.checkout-details .select-payment-method {
    margin: 15px 0 0
}

.checkout-details .select-payment-method div {
    margin: 0 0 15px;
    display: block;
    width: 100%
}

.checkout-details .select-payment-method div label {
    padding-left: 28px!important;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block
}

.checkout-form .form-group select {
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #000;
    width: 100%;
    height: 60px;
    padding: 10px 15px 10px 20px;
    border-left: 1px solid red;
    cursor: pointer;
    opacity: .9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 96% 50%;
}

.pb-75 {
    padding-bottom: 75px;
}
.pt-100 {
    padding-top: 100px;
}

.bill-item{
    display: flex;
    flex-wrap: wrap;
}

.shipping-address-area {
    margin-top: 48px;
}

.btn-secondary {
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    padding: 0 17px;
    height: 60px;
    color: black;
    border: 1px solid #000;
    width: 100%;
    -ms-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -ms-display: inline-flex;
    -webkit-display: inline-flex;
    display: -webkit-inline-box;
    display: inline-flex;
    -ms-align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

a.btn.btn-primary.btn-custom {
    width: 100%;
    -ms-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: 60px;
    -ms-display: inline-flex;
    -webkit-display: inline-flex;
    display: -webkit-inline-box;
    display: inline-flex;
    -ms-align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bill-item-name span{
    font-size: 12px;
}