<div class="container p-4">
    <div class="row" *ngIf="productData">
        <div class="col-md-6">
            <img src="{{productData.image}}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <div class = "product-content">
                <h4 class = "product-title">{{productData.name}}</h4>
          
                <div class = "product-price">
                  <p class = "new-price">New Price: <span>{{productData.price | currency:"INR"}}</span></p>
                </div>

                <p class="d-flex new-price">Color: <span class="product-color" [style.backgroundColor]="productData.color"></span></p>
          
                <div class = "product-detail">
                <p>
                    {{productData.description}}  
                </p>
                </div>

                <div class="quantity-group">
                  <button (click)="handleQuantity('min')">-</button>
                  <input type="text" value="{{productQuantity}}">
                  <button (click)="handleQuantity('plus')">+</button>
                </div>
          
                <div class = "purchase-info">
                  <button type = "button" class = "btn" (click)="addToCart()">Add to Cart <i class = "fas fa-shopping-cart"></i></button>
                  <button type = "button" class = "btn">Buy Now</button>
                </div>
              </div>
          
        </div>
    </div>
</div>