<div class="form-body" style="background-color: #ff6e40;">
    <div class="container">
        <div class="card" *ngIf="!showLogin">
            <div class="row g-0">
                <div class="col">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <div class="ltf-block-logo d-block d-lg-none text-center text-lg-start">
                                <img width="120" src="../../assets/images/logo.svg" alt="logo">
                            </div>
                            <div class="my-5 text-center text-lg-start">
                                <h1 class="display-8">Create Account</h1>
                                <p class="text-muted">You can create a free account now</p>
                            </div>
                            <form class="mb-5"  [formGroup]="signUpForm" #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Enter Your Name" name="name" autofocus=""  ngModel formControlName="name">
                                    <span *ngIf="user && user.invalid && user.touched" style="color: red; font-size: 12px;">Enter Your Name***</span>
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Enter email"  name="email" ngModel formControlName="email">
                                    <span *ngIf="email && email.invalid && email.touched" style="color: red; font-size: 12px;">Enter Your Valid Email***</span>
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" placeholder="Enter password" name="password" formControlName="password">
                                    <span *ngIf="password && password.invalid && password.touched" style="color: red; font-size: 12px;">Enter Your Password***</span>
                                </div>
                                <div class="text-center text-lg-start">
                                    <button class="btn btn-primary" [disabled]="signUpForm.invalid">Sign Up</button>
                                </div>
                            </form>
                            <p class="text-center d-block d-lg-none mt-5 mt-lg-0">
                                Don't have an account? <a href="#">Sign In</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col d-none d-lg-flex border-start align-items-center flex-column text-center">
                    <div class="logo">
                        <img width="120" src="../../assets/images/logo.svg" alt="logo">
                    </div>
                    <div>
                        <h3 class="fw-8">Welcome to Ecommerce!</h3>
                        <p class="text-muted">Do you already have an account?</p>
                        <a class="btn btn-primary" (click)="openLogin()">Sign In</a>
                    </div>  
                </div>
            </div>
        </div>


        <div class="card" *ngIf="showLogin">
            <div class="row g-0">
                <div class="col">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <div class="ltf-block-logo d-block d-lg-none text-center text-lg-start">
                                <img width="120" src="../../assets/images/logo.svg" alt="logo">
                            </div>
                            <div class="my-5 text-center text-lg-start">
                                <h1 class="display-8">Sign In</h1>
                                <p class="text-muted">Sign in to Ecommerce to continue</p>
                            </div>
                            <form class="mb-5"  #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
                                <div class="mb-3">
                                    <input type="email" class="form-control" name="email" placeholder="Enter email" ngModel>
                                </div>
                                <div class="mb-3">
                                    <input type="password" class="form-control" name="password" placeholder="Enter password" ngModel>
                                </div>
                                <div class="text-center text-lg-start">
                                    <button type="submit" class="btn btn-primary">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col d-none d-lg-flex border-start align-items-center flex-column text-center">
                    <div class="logo">
                        <img width="120" src="../../assets/images/logo.svg" alt="logo">
                    </div>
                    <div>
                        <h3 class="fw-8">Welcome to Ecommerce!</h3>
                        <p class="text-muted">If you don't have an account, would you like<br> to register right now?</p>
                        <a (click)="openSignUp()" class="btn btn-primary">Sign Up</a>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>