<!-- menu -->
<div class="menu">
    <div class="menu-header">
        <a class="menu-header-logo" routerLink="/">
        Ecommerce
    </a>    
    </div>
    <div class="menu-body">
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center" data-bs-toggle="dropdown">
              <!--   <div class="avatar me-3">
                    <img src="../../assets/images/user/man_avatar3.jpg" class="rounded-circle" alt="image">
                </div> -->
                <div>
                    <div class="fw-bold">{{sellerName | titlecase}}</div>
                    <small class="text-muted">Sales Manager</small>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item d-flex align-items-center text-danger" target="_blank" (click)="logOut()">
                    <fa-icon [icon]="faRightFromBracket" class="mx-2"></fa-icon> Logout
            </a>
            </div>
        </div>
        <ul>
            <li class="menu-divider">E-Commerce</li>
            <li>
                <a class="active" href="index.html">
                <span class="nav-link-icon">
                    <fa-icon [icon]="faChartBar" class="small-icons"></fa-icon>
                </span>
                <span>Dashboard</span>
                <fa-icon [icon]="faArrowRight" class="ms-3 "></fa-icon>
            </a>
            </li>
            <li>
                <a href="#">
                <span class="nav-link-icon">
                     <fa-icon [icon]="faListCheck" class="small-icons"></fa-icon>
                </span>
                <span>Orders</span>
                <fa-icon [icon]="faArrowRight" class="ms-3 text-muted"></fa-icon>
            </a>
                <ul>
                    <li>
                        <a href="./orders.html">List</a>
                    </li>
                    <li>
                        <a href="./order-detail.html">Detail</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                <span class="nav-link-icon">
                    <fa-icon [icon]="faTruckDroplet" class="small-icons"></fa-icon>
                </span>
                <span>Products</span>
                <fa-icon [icon]="faArrowRight" class="ms-3 text-muted"></fa-icon>
            </a>
                <ul>
                    <li>
                        <a href="./product-list.html">List
                        View</a>
                    </li>
                    <li>
                        <a href="./product-grid.html">Grid
                        View</a>
                    </li>
                    <li>
                        <a href="./product-detail.html">Product Detail</a>
                    </li>
                    <li>
                        <a href="./shopping-cart.html">Shopping
                        Cart</a>
                    </li>
                    <li>
                        <a href="./checkout.html">Checkout</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                <span class="nav-link-icon">
                    <fa-icon [icon]="faWallet" class="small-icons"></fa-icon>
                </span>
                <span>Buyer</span>
                <fa-icon [icon]="faArrowRight" class="ms-3 text-muted"></fa-icon>
            </a>
                <ul>
                    <li>
                        <a href="./buyer-orders.html">Orders</a>
                    </li>
                    <li>
                        <a href="./buyer-addresses.html">Addresses</a>
                    </li>
                    <li>
                        <a href="./buyer-wishlist.html">Wishlist</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="./chats.html">
                <span class="nav-link-icon">
                    <fa-icon [icon]="faComment" class="small-icons"></fa-icon>
                </span>
                <span>Chats</span>
                <span class="badge bg-success rounded-circle ms-auto">2</span>
            </a>
            </li>
        </ul>
    </div>
</div>
<!-- ./  menu -->