<div class="ho-section features-area bg-white pt-5 pb-5">
    <div class="container drop-shadow">
        <div class="row">

            <!-- Single Feature -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="featurebox">
                    <img src="../../assets/icons/icon-1.png" class="flat-icon">
                    <h5>Free Shipping</h5>
                    <p>Free shipping on all US order or order above $200</p>
                </div>
            </div>
            <!--// Single Feature -->

            <!-- Single Feature -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="featurebox">
                    <img src="../../assets/icons/icon-2.png" class="flat-icon">
                    <h5>Support 24/7</h5>
                    <p>Contact us 24 hours a day, 7 days a week</p>
                </div>
            </div>
            <!--// Single Feature -->

            <!-- Single Feature -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="featurebox">
                    <img src="../../assets/icons/icon-3.png" class="flat-icon">
                    <h5>60-Day Returns</h5>
                    <p>If you don’t love it, you have 60 days to return it.</p>
                </div>
            </div>
            <!--// Single Feature -->

            <!-- Single Feature -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="featurebox">
                    <img src="../../assets/icons/icon-4.png" class="flat-icon">
                    <h5>100% Payment Secure</h5>
                    <p>We ensure secure payment with PEV</p>
                </div>
            </div>
            <!--// Single Feature -->

        </div>
    </div>
</div>